body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

header {
  width: 100%;
  height: 100%;
  background-image: url('./images/2-min.webp');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header img.logo {
  width: 400px;
  height: auto;
  margin-top: 60px;
}

header .buttons {
  margin-top: 20px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5rem;
}

header .buttons a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  padding: 10px 30px;
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
  border: 2px solid #fff;
  color: #ffffff;
  text-decoration: none;
  width:380px;
  height: 40px;
}
.transparent {
  background-color: transparent;
}
.colored {
  gap: 1rem;
  background: linear-gradient(#ea6108, #ed0d74);
  border: none !important;
}
.colored img {
  width: 40px;
  height: 40px;
}
section {
  height: 900px;
  width: 100%;
  background: linear-gradient(#ea6108, #ed0d74);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

section img {
  width: 600px;
  height: auto;
  margin-bottom: 20px;
}
.logo-creative {
  width: 400px;
  height: auto;
}

section h2 {
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding-top: 60px;
}

section p {
  font-size: 40px;
  font-weight: bold;
  margin: 0 !important;
  text-transform: uppercase;
}

section span {
  font-size: 40px;
  text-transform: uppercase;
  margin-top: 20px;
}


@media (max-width: 890px) {
  header {
    height: 75%;
  }
  header img.logo {
    width: 200px;
    height: auto;
    margin-top: 40px;
  }

  header .buttons {
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
	margin-bottom: 40px;
  }
  header .buttons a {
    font-size: 16px;
    padding: 10px;
    height: 30px;
	width:100%;
  }
  .colored img {
    width: 30px;
    height: 30px;
  }
  section {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
  }
  section h2 {
    padding-top: 20px;
  }
  section img {
    width: 200px;
    height: auto;
  }
  section h2 {
    font-size: 20px;
  }
  .logo-creative {
    width: 200px;
    height: auto;
  }
  section p {
    font-size: 16px;
  }
  section span {
    font-size: 14px;
    text-align: center;
  }
}
